

/* Contact Page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-details .details span,
#form-details span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px;
}

#form-details .people img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


@media (max-width:799px) {
 
    /* Contact Page */
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    }
}


@media (max-width:477px) {
   
    /* Contact Page */
    #contact-details .details {
        width: 100%;
        padding-bottom: 30px;
    }
    #contact-details .map {
        width: 100%;
    }
    #contact-details {
        flex-wrap: wrap;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        padding-bottom: 30px;
    }
    
}